*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

:root{
    --text-color: white;
    --bg-url: url(assets/bg-mobile.jpg);
    --borda-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255,255,255,0.1);
    --switch-bg-url: url(assets/moon-stars.svg);
    --background-icon: #017ce9;
}

.light{
    --text-color: black;
    --bg-url: url(assets/bg-mobile-light.jpg);
    --borda-color: rgba(0,0,0, 0.5);
    --surface-color: rgba(0,0,0,0.05);
    --surface-color-hover: rgba(0,0,0,0.02);
    --highlight-color: rgba(0,0,0,0.1);
    --switch-bg-url: url(assets/sun.svg);
    --background-icon: #e9d901;
    transition: 2s;
}

body{
    /* background: url(assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */

    /* shorthand/atalho */
    /* background: color image repeat position/size*/

    background: var(--bg-url) no-repeat top center;
    background-size: 110%;
    transition: 2s;
}

main{
    width: 360px;
    margin: 56px auto 0 auto;
    padding: 0 24px;
}

#profile{
    text-align: center;
    padding: 24px;
    margin-top: 8px;
}

#profile img{
    width: 112px;
}

#profile p{
    font-weight: 500;
    line-height: 24px;
}

#switch{
    position: relative;
    width: 64px;
    margin: auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: var(--background-icon);
    border: none;
    border-radius: 50%;
    background-image: var(--switch-bg-url);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    animation: slide-out .4s;
    animation-fill-mode: forwards;
}

#switch button:hover{
    outline: 8px solid var(--highlight-color);
    transition: .4s;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--borda-color);
    border-radius: 99px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.light #switch button{
    animation: slide-in .4s;
    animation-fill-mode: forwards;
}


/* Link */

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;

}

ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--borda-color);
    border-radius: 5px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background .3s;
}

/* pseudo-selector */
ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);

}

#social-links{
    display: flex;
    justify-content: center;

    padding: 24px 0;
    font-size: 24px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: .4s;
    border-radius: 50%;
}

#social-links a:hover{
    background: var(--highlight-color);
}

footer{
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}


@keyframes slide-in {
    from{
        left: 0;
    }

    to{
        left: 50%;
    }
}

@keyframes slide-out {
    from{
        left: 50%;
    }

    to{
        left: 0%;
    }
}